﻿<div class="text-center">
	<h1 class="page-header text-center">{{message}}</h1>
	<input type="text" name="titleName" ng-model="titleName" required/>
	<input type="button" name="Search" value="Search" ng-click="search()"/>
</div>
<div>
	<a href="#!titleDetail">{{result}}</a>
</div>

